@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

.organization{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);


    .menue{
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 500px;
      width: 70%;

       .head{
          padding: 20px;
          padding-bottom: 35px;
          font-family: sans-serif;
          color: rgb(255, 255, 255);
          text-shadow: -2px 5px 15px rgba(0,0,0,1);
          
       }
       
       .cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        animation: myAnim 1s ease 0s 1 normal forwards;


           .donar{
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
            -moz-box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
            box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
            background-color: rgb(74, 74, 74);
             height: 250px;
             width: 23%;
             border-radius: 10px;
             cursor: pointer;
             
           }

           .hospital{
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
            -moz-box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
             box-shadow: -17px 16px 37px 2px rgba(110,106,110,1); 
            background-color: rgb(74, 74, 74);
            height: 250px;
            width: 23%;
            border-radius: 10px;
            cursor: pointer;
          }

          .ngo{
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
            -moz-box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
             box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
            background-color: rgb(74, 74, 74);
            height: 250px;
            width: 23%;
            border-radius: 10px;
            cursor: pointer;
          }

          .others{
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
            -moz-box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
             box-shadow: -17px 16px 37px 2px rgba(110,106,110,1);
            background-color: rgb(74, 74, 74);
            height: 250px;
             width: 23%;
             border-radius: 10px;
             cursor: pointer;
          }
           
       }
    
    }
}